<div class="wrapper-calendar">
	<div class="header-calendar">
		<h1>{{dateTitle}}</h1>
		<div>
			<button (click)="changeDaysRange(-1)" class="btn-prev">{{SymbolPrev}}</button>
			<button (click)="changeDaysRange(1)" class="btn-next">{{SymbolNext}}</button>
		</div>
	</div>
	<hr>
	<table>
		<thead class="header-table">
			<tr>
				<th id="vacio"></th>
				<th (click)="clickDay(day)" class="table-name-days" *ngFor="let day of daysSelect, let ind = index">
					<span>{{daysOfWeek[ind]}}
						<br>
						{{day?.value}}
					</span>			
				</th>
			</tr>		
		</thead>
		<tbody>
			<tr *ngFor="let num of hoursSelect">
				<th class="table-hours"> {{num}}:00</th>
				<td *ngFor="let day of daysSelect">
					<button class="box" (click)="clickHour(num, day, $event.target)">
						<label class="eventTitle" id={{id(tit,day.value,num)}}></label>
						<br>
						<label class="eventdesc" id={{id(des,day.value,num)}}></label>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>


